.order-info-area {
    padding : 10px $m-padding 20px;;
    border-bottom: 1px solid rgba(0,0,0,0,04);
    background-color: $booking-color-bg155;

    .info-main-title {
        line-height: 39px;
    }
    .title {
        display: flex;
        align-items: center;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: -0.3px;
        color : $booking-color-text6;
        .ico-n-logo {
            margin-right: 6px;
            width: 24px;
            height: 24px;
        }
    }
}